extends layout

block content
    header.profile
        div.headerContainer
                a(href='/' class='listLogo')
                    img(src='/img/logo3.svg')
                div.nav
                    a.btnCreateNewRecipe.btnShowAll(href='/myrecipes') Show All
                    a.btnCreateNewRecipe(href='/create') Add Recipe
                    a.btnLogOut(href='/logout') Log Out
    section.mainContent
        div.fullViewWrapper
            div.createNewInnerWrapper
                - let recValue = recipe; 
                div.createNewHeaderInfo
                    h1 Edit Recipe
                form(method='put' id='edit-form')
                    div.formGroup.groupCreate
                        label(for="title") Title:
                        input#title.create-form-control(type='text' placeholder='Title' name='title' autofocus value=recValue.title)
                    div.formGroup.groupCreate
                        label(for="description") Description:
                        input#description.create-form-control(type='text' placeholder='Short description...' name='description' value=recValue.description)
                    div.formGroup.groupCreate
                        label(for="ingredients") Ingredients:
                        textarea#ingredients.area-form-control(rows="6" placeholder="Ingredients..." name="ingredients") #{recipe.ingredients}
                    div.formGroup.groupCreate
                        label(for="directions") Directions:
                        textarea#directions.area-form-control(rows="6" placeholder="Directions..." name="directions") #{recipe.directions}
                    div.createNewButtonGrp
                        button.formButton#btnSaveEditedRecipe(type='submit' data-id=recValue._id) Save Changes
block scripts
    script(src="/js/app.js")