extends layout

block content
    header.profile
        div.headerContainer
                a(href='/' class='listLogo')
                    img(src='/img/logo3.svg')
                div.nav
                    a.btnCreateNewRecipe.btnShowAll(href='/myrecipes') Show All
                    a.btnCreateNewRecipe(href='/create') Add Recipe
                    a.btnLogOut(href='/logout') Log Out
    section.mainContent
        div.fullViewWrapper
            - var imgPath = recipe.photo ? recipe.photo : '/img/noPhoto.svg';
            - var imgBtnTooltip = recipe.photo ? "Change Photo" : "Add Photo";
            - var recipeID = recipe._id;
            - var editLink = '/myrecipes/' + recipeID;
            .placeHolder
                img#fullViewRecipePhoto(src=imgPath)
            .singleViewHeader
                div.titleDescriptionBlock
                    h1 #{recipe.title}
                    p.descriptionFullView #{recipe.description}
                div.singleViewBtnContainer
                        a.btnSingleViewHeader.btnRecipeDelete(title='Delete Recipe' data-id=recipeID)
                            i(class="fa fa-trash" aria-hidden="true")
                        form(ref='uploadForm' id='uploadForm' method='POST' encType="multipart/form-data")
                            input(type='file' id='imageUploadInput' data-id=recipeID name='sampleFile' class='custom-file-input' title=imgBtnTooltip)
                        a.btnSingleViewHeader(title='Edit Recipe' href=editLink)
                            i(class="fa fa-pencil" aria-hidden="true")
            hr.style-one
            div.ingredientsListBlock
                h2 Ingredients
                p.showCarriageReturns #{recipe.ingredients}
            hr.style-one
            div.directionsBlock
                h2 Directions
                p.showCarriageReturns #{recipe.directions}
block scripts
    script(src="/js/app.js")